<a href="https://colab.research.google.com/github/dongupak/Prime-Python/blob/master/jupyter-notebook/Ch06_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%ED%8A%9C%ED%94%8C%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **생능 출판사 "으뜸 파이썬"(1판) 교재의 소스 코드**
# *6장 딕셔너리, 튜플, 집합*
---
* 출판사 : 생능 출판사( http://www.booksr.co.kr/ )
* 으뜸 파이썬 저자 : 박동규, 강영민 
* 소스코드 저장소 : https://github.com/dongupak/Prime-Python
* 저작권 : 본 주피터 노트북 코드는 자유롭게 배포가능하지만 위의 출판사, 저서, 저자표기와 함께 배포해 주십시오.
---

## 대화창 실습 : person 딕셔너리의 생성과 조회

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }

In [0]:
person['이름']

In [0]:
person['나이']

In [0]:
person['몸무게']

## 대화창 실습 : students 딕셔너리의 생성과 조회

In [0]:
students = { 2019001:'이순신', 2019002:'김유신', 2019003:'강감찬'}
students[2019001]

In [0]:
students[2019002]

In [0]:
students[2019003]

## 대화창 실습 : 딕셔너리의 항목 삽입

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }

In [0]:
person['직업'] = '율도국의 왕'   # 새로운 키:값의 항목 삽입

In [0]:
person

{'나이': 26, '몸무게': 82, '이름': '홍길동', '직업': '율도국의 왕'}

## 대화창 실습 : 딕셔너리의 항목 수정

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '키' : 179 }

In [0]:
person['나이'] = 27

In [0]:
person

{'나이': 27, '이름': '홍길동', '키': 179}

## 대화창 실습 : 딕셔너리의 항목 삭제

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }

In [0]:
del person['나이']

In [0]:
person

{'몸무게': 82, '이름': '홍길동'}

## 대화창 실습 : 딕셔너리의 항목 삭제 - KeyError 오류 발생

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }

In [0]:
del person['출생지']

KeyError: ignored

## 대화창 실습 : in 연산자를 이용한 딕셔너리 항목의 조회

In [0]:
person = {'이름': '홍길동', '나이': 26, '몸무게': 82 }

In [0]:
len(person)  # 딕셔너리 항목의 개수를 반환

3

In [0]:
'이름' in person  # '이름'은 키에 있음

True

In [0]:
'직업' in person # '직업'은 키에 없음

False

In [0]:
'홍길동' in person # ‘홍길동’은 값에 있으나 키에 없음(주의)

False

## 대화창 실습 : in 연산자를 이용한 항목의 존재여부 조회

In [0]:
'apple' in ['orange', 'apple', 'mango']

True

In [0]:
'x' in 'aeiou'

False

## 대화창 실습 : 딕셔너리의 비교 연산

In [0]:
d1 = {'이름' : '홍길동', '나이' : 26 }

In [0]:
d2 = {'나이' : 26, '이름' : '홍길동' }

In [0]:
d1 == d2

True

In [0]:
d1 > d2

TypeError: ignored

## 대화창 실습 : 딕셔너리의 keys(), values(), items() 메소드

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '키' : 179 }

In [0]:
person.keys()

dict_keys(['이름', '나이', '키'])

In [0]:
person.values()

dict_values(['홍길동', 26, 179])

In [0]:
person.items()

dict_items([('이름', '홍길동'), ('나이', 26), ('키', 179)])

## 대화창 실습 : 딕셔너리의 get() 메소드

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '키' : 179 }
person['취미']  # ’취미‘키가 없으므로 여기서는 예외를 발생시킴

KeyError: ignored

In [0]:
person.get('취미')  # ‘취미’ 키가 없으므로 아무것도 반환하지 않음

In [0]:
person.get('이름')

'홍길동'

###  NOTE : 파이썬의 None 키워드

In [0]:
x = None

In [0]:
x = person.get('취미')  # ‘취미’ 키가 없으므로 None을 반환함
print(x)

None

## 대화창 실습 : 딕셔너리의 메소드 살펴보기

In [0]:
 person = {'이름' : '홍길동', '나이' : 26,  '몸무게': 82}

In [0]:
person.popitem()        # 랜덤하게 아이템을 선택하여 반환한 후 삭제

('몸무게', 82)

In [0]:
person                  # 랜덤하게 선택된 '몸무게' 항목이 삭제되었으므로 2개 항목만 있음

{'나이': 26, '이름': '홍길동'}

In [0]:
person.pop('나이')      # '나이' 항목을 반환한 후 삭제함

26

In [0]:
person                  # '나이' 항목이 삭제되었으므로 1개 항목만 있음

{'이름': '홍길동'}

In [0]:
person.clear()          # person 딕셔너리의 모든 항목을 삭제함

In [0]:
person

{}

## 대화창 실습 : for 문을 이용한 딕셔너리의 순회

In [0]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }

In [0]:
for key in person:
    print('{} : {}'.format(key, person[key]))

이름 : 홍길동
나이 : 26
몸무게 : 82

## 코드 6-1 : 리스트의 항목 삭제와 lst[1] 항목의 변화 여부
### list_pop.py

In [0]:
lst = [11, 22, 33, 44, 55]
print('pop(0) 이전 :', lst)
print('pop(0) 이전 lst[1] =', lst[1])
lst.pop(0)            # 인덱스 0을 이용하여 리스트의 첫 항목을 삭제한다
print('pop(0) 이후 :', lst)
print('pop(0) 이후 lst[1] =', lst[1])       # lst[1]이 참조하는 값이 바뀐다

pop(0) 이전 : [11, 22, 33, 44, 55]
pop(0) 이전 lst[1] = 22
pop(0) 이후 : [22, 33, 44, 55]
pop(0) 이후 lst[1] = 33

## 코드 6-2 : 딕셔너리의 항목 삭제와 dic[1] 항목의 변화 여부
### dic_pop.py

In [0]:
dic = {0:11, 1:22, 2:33, 3:44, 4:55}
# 딕셔너리의 (키,값) 튜플쌍을 반환하는 items() 함수로 항목 출력
print('pop(0) 이전 :', dic.items())
print('pop(0) 이전 dic[1] =', dic[1])
dic.pop(0)  # 키 0을 이용하여 (0, 11) 항목을 삭제하였음
print('pop(0) 이후 :', dic.items())
print('pop(0) 이후 dic[1] =', dic[1])   # dic[1]이 참조하는 값은 안 변함

pop(0) 이전 : dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이전 dic[1] = 22
pop(0) 이후 : dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이후 dic[1] = 22

##  대화창 실습 : 튜플의 생성과 조회

In [0]:
t = (1, 2, 3, 4)
t[0]

1

In [0]:
t[1]

2

In [0]:
type(t)

tuple

## 대화창 실습 : 튜플 항목에 대한 할당 연산은 오류를 발생시킴

In [0]:
t = (0, 1, 2, 3, 4)
t[0] = 100    # 할당연산은 오류를 발생시킴

TypeError: ignored

## 코드 6-3 : 임시변수 temp를 이용한 값의 교환 
### swap_temp.py

In [0]:
a = 100
b = 200
print('swap 이전 : a =', a, 'b =', b)
temp = a
a = b
b = temp
print('swap 이후 : a =', a, 'b =', b)

swap 이전 : a = 100 b = 200
swap 이후 : a = 200 b = 100

## 코드 6-4 : 튜플과 할당 연산자를 이용한 간단한 swap
### swap_tuple.py

In [0]:
a = 100
b = 200
print('swap 이전 : a=', a, 'b =', b)
a, b = b, a
print('튜플을 사용한 swap 결과 : a=', a, 'b =', b)

swap 이전 : a= 100 b = 200
튜플을 사용한 swap 결과 : a= 200 b = 100

## 대화창 실습 : 튜플의 +와 * 연산

In [0]:
t0 = (10, 20, 30)
t1 = t0 + t0        # 튜플의 결합 연산 
t1

(10, 20, 30, 10, 20, 30)

In [0]:
t2 = t0 * 2         # 튜플의 반복 연산 
t2

(10, 20, 30, 10, 20, 30)

In [0]:
t3 = t0 + 40        # 튜플과 정수는 덧셈 연산을 할 수 없음.

TypeError: ignored

In [0]:
t4 = t0 + (40, )    # 튜플과 하나의 요소를 가진 튜플의 덧셈 연산 
t4

(10, 20, 30, 40)

## 대화창 실습 : 튜플의 메소드 테스트

In [0]:
t = (10, 20, 30, 20, 20, 10, 50)

In [0]:
t.count(10)   # 튜플에 포함된 10 원소의 개수

2

In [0]:
t.count(20)   # 튜플에 포함된 20 원소의 개수

3

In [0]:
t.index(30)   # 튜플에 포함된 30 원소의 인덱스

2

In [0]:
t.index(50)   # 튜플에 포함된 50 원소의 인덱스

6

## 코드 6-5 튜플의 항목 값을 리스트를 이용하여 변경
### tuple_item_change.py

In [0]:
t_fruits = ('apple', 'orange', 'water melon')
print('변경 전 :', t_fruits)
f_list = list(t_fruits)  # 튜플을 리스트로 변환
f_list[1] = 'kiwi'       # 리스트의 두 번째 항목 값을 ‘kiwi'로 변경함
t_fruits = tuple(f_list) # 리스트를 튜플로 변환
print('변경 후 :', t_fruits)

변경 전 : ('apple', 'orange', 'water melon')
변경 후 : ('apple', 'kiwi', 'water melon')

## 코드 6-6 : 원의 면적과 둘레를 튜플 형식으로 반환하는 함수
### circle_area_and_circum.py

In [0]:
def area_and_circum(radius):  # 원의 면적과 둘레 구하기
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum       # 튜플을 반환함 – 반환값 (area, circum)

r = 4
a, c = area_and_circum(r)     # 반환받은 튜플을 언패킹함
print('반지름 {}인 원의 면적과 둘레 : {}, {}'.format(r, a, c))

반지름 4인 원의 면적과 둘레 : 50.24, 25.12

## 대화창 실습 : 리스트와 튜플로 부터 집합 만들기

In [0]:
days_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] # 리스트 
days_set = set(days_list)   # 리스트로 부터 집합 만들기
days_set

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [0]:
fruits_tuple = ('apple', 'orange', 'water melon')    # 튜플
fruits_set = set(fruits_tuple)     # 튜플로부터 집합 만들기 
fruits_set

{'apple', 'orange', 'water melon'}

In [0]:
h_str = 'hello'         # 문자열
h_set = set(h_str)      # 문자열로부터 집합 만들기
h_set                   # 집합에서는 문자 'l'의 중복을 허용하지 않음

{'e', 'h', 'l', 'o'}

## 대화창 실습 : 집합의 메소드 테스트

In [0]:
s = {100, 100, 200, 200, 300, 400}  # 중복원소 100, 200이 있음

In [0]:
s

{100, 200, 300, 400}

In [0]:
s.add(500)    # 집합 s에 500 원소 추가

In [0]:
s

{100, 200, 300, 400, 500}

In [0]:
s.discard(100) # 집합 s에 있는 100 원소를 삭제

In [0]:
s

{200, 300, 400, 500}

## 대화창 실습 : 집합과 연산

In [0]:
s1 = {1, 2, 3, 4, 5, 6}

In [0]:
s2 = {4, 5, 6, 7, 8, 9}

In [0]:
s1 | s2      # 합집합을 구함

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [0]:
s1 & s2     # 교집합을 구함

{4, 5, 6}

In [0]:
s1 - s2      # 차집합을 구함

{1, 2, 3}

In [0]:
s1 ^ s2      # 대칭 차집합을 구함

{1, 2, 3, 7, 8, 9}

## 대화창 실습 : 집합과 연산

In [0]:
 s1 = {1, 2, 3, 4, 5, 6}

In [0]:
 s2 = {4, 5, 6, 7, 8, 9}

In [0]:
 s1.union(s2)        # 합집합을 구함

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [0]:
s1.intersection(s2)   # 교집합을 구함

{4, 5, 6}

In [0]:
s1.difference(s2)     # 차집합을 구함

{1, 2, 3}

In [0]:
s1.symmetric_difference(s2)   # 대칭 차집합을 구함

{1, 2, 3, 7, 8, 9}

## 대화창 실습 : 집합과 s1 - s2 - s3 연산

In [0]:
s1 = {1, 2, 3, 4, 5, 6}

In [0]:
s2 = {4, 5, 6, 7, 8, 9}

In [0]:
s3 = {5, 6, 9, 10, 11}

In [0]:
s1 & s2 & s3    # s1, s2, s3의 교집합을 구함

{5, 6}

In [0]:
 s1 - s2 - s3   # s1에서 s2, s3의 원소를 뺀다

{1, 2, 3}

## 대화창 실습 : 부분집합과 상위집합 연산

In [0]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3}        # s1의 부분집합임
s3 = {1, 2, 6}        # s1의 부분집합이 아님

In [0]:
s2.issubset(s1)       # s2가 s1의 부분집합인지를 묻는 메소드

True

In [0]:
s3.issubset(s1)       # s3이 s1의 부분집합인지를 묻는 메소드

False

In [0]:
s1.issuperset(s2)     # s1이 s2의 상위집합인지를 묻는 메소드

True

In [0]:
s1.issuperset(s3)     # s1이 s3의 상위집합인지를 묻는 메소드

False

## 대화창 실습 : 두 집합의 서로소 연산

In [0]:
s1 = {1, 2, 3}
s2 = {10, 20, 30}
s1.isdisjoint(s2)   # 집합 s1이 s2와 서로소 인가 검사

True

## 코드 6-7 : 곱집합 함수 product_set()와 A, B 집합의 곱집합
### product_set_test.py

In [0]:
def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}  # 이중 for 루프를 이용한 곱집합
    return res
     
A = {1, 3}    # 집합 A의 원소
B = {2, 4}    # 집합 B의 원소
AxB = product_set(A, B)     # A와 B의 곱집합 AxB(A x B가 아님)
print('A =', A)
print('B =', B)
print('AxB =', AxB)         # A와 B의 곱집합을 출력함

A = {1, 3}
B = {2, 4}
AxB = {(1, 2), (3, 2), (3, 4), (1, 4)}

In [0]:
# 다음과 같은 함수 호출을 해보세요
product_set(A,B)

{(1, 2), (1, 4), (3, 2), (3, 4)}

In [0]:
# 다음과 같은 함수 호출도 해보세요.
## 위의 결과와 비교해 보세요
product_set(B, A)

{(2, 1), (2, 3), (4, 1), (4, 3)}

## 코드 6-8 : 곱집합 함수를 이용한 집합의 세제곱 연산
### set_exponent.py

In [0]:
def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}    # 이중 for 루프를 이용한 곱집합
    return res

def exp(input_set, exponent) :     # input_set에 대하여 거듭제곱을 수행하는 함수
    res = input_set                # res는 set로 초기화 함
    for _ in range(exponent-1) :   # (exponent-1)만큼 반복해야 거듭제곱이 됨
        res = product_set(res, input_set)
    return res

A = {1, 3}
A3 = exp(A, 3)  # 집합 A에 대하여 거듭제곱을 3회 수행함
print(A3)

{((1, 1), 1), ((3, 1), 1), ((1, 3), 3), ((1, 1), 3), ((3, 3), 1), ((1, 3), 1), ((3, 1), 3), ((3, 3), 3)}

## 코드 6-9 : 주사위 두 번 던져 얻는 경우를 모두 구하기
### set_dice_twice.py

In [0]:
def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}  # 이중 for 루프를 이용한 곱집합
    return res

cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
print(cases_2times)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (3, 4), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (5, 2), (2, 4)}

##  대화창 실습 : 튜플 데이터 요소의 합

In [0]:
a_tuple = ( 1, 2, 3, 4, 5 )
sum(a_tuple)

15

## 코드 6-10 : 주사위 두 번 던져 나오는 모든 경우에 대해 눈의 합 구하기
### set_dice_twice_sum.py

In [1]:
def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}  # 이중 for 루프를 이용한 곱집합
    return res

cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)

sum_set = { sum(tup) for tup in cases_2times }
print('sum_set =', sum_set)
sum_list = [ sum(tup) for tup in cases_2times ]
print('sum_list =', sum_list)

sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
sum_list = [4, 12, 11, 3, 8, 7, 6, 7, 3, 6, 10, 8, 9, 6, 9, 4, 7, 5, 2, 10, 5, 8, 9, 9, 5, 5, 6, 11, 8, 8, 10, 7, 4, 7, 7, 6]

##  대화창 실습 : 주사위를 세 번 던져 얻는 모든 경우

In [2]:
def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}  # 이중 for 루프를 이용한 곱집합
    return res

cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
cases_3times

{(1, (1, 1)),
 (1, (1, 2)),
 (1, (1, 3)),
 (1, (1, 4)),
 (1, (1, 5)),
 (1, (1, 6)),
 (1, (2, 1)),
 (1, (2, 2)),
 (1, (2, 3)),
 (1, (2, 4)),
 (1, (2, 5)),
 (1, (2, 6)),
 (1, (3, 1)),
 (1, (3, 2)),
 (1, (3, 3)),
 (1, (3, 4)),
 (1, (3, 5)),
 (1, (3, 6)),
 (1, (4, 1)),
 (1, (4, 2)),
 (1, (4, 3)),
 (1, (4, 4)),
 (1, (4, 5)),
 (1, (4, 6)),
 (1, (5, 1)),
 (1, (5, 2)),
 (1, (5, 3)),
 (1, (5, 4)),
 (1, (5, 5)),
 (1, (5, 6)),
 (1, (6, 1)),
 (1, (6, 2)),
 (1, (6, 3)),
 (1, (6, 4)),
 (1, (6, 5)),
 (1, (6, 6)),
 (2, (1, 1)),
 (2, (1, 2)),
 (2, (1, 3)),
 (2, (1, 4)),
 (2, (1, 5)),
 (2, (1, 6)),
 (2, (2, 1)),
 (2, (2, 2)),
 (2, (2, 3)),
 (2, (2, 4)),
 (2, (2, 5)),
 (2, (2, 6)),
 (2, (3, 1)),
 (2, (3, 2)),
 (2, (3, 3)),
 (2, (3, 4)),
 (2, (3, 5)),
 (2, (3, 6)),
 (2, (4, 1)),
 (2, (4, 2)),
 (2, (4, 3)),
 (2, (4, 4)),
 (2, (4, 5)),
 (2, (4, 6)),
 (2, (5, 1)),
 (2, (5, 2)),
 (2, (5, 3)),
 (2, (5, 4)),
 (2, (5, 5)),
 (2, (5, 6)),
 (2, (6, 1)),
 (2, (6, 2)),
 (2, (6, 3)),
 (2, (6, 4)),
 (2, (6, 5)),
 (2, (6, 6)),
 (3, (1, 1)),
 (3, (1, 2)),
 (3, (1, 3)),
 (3, (1, 4)),
 (3, (1, 5)),
 (3, (1, 6)),
 (3, (2, 1)),
 (3, (2, 2)),
 (3, (2, 3)),
 (3, (2, 4)),
 (3, (2, 5)),
 (3, (2, 6)),
 (3, (3, 1)),
 (3, (3, 2)),
 (3, (3, 3)),
 (3, (3, 4)),
 (3, (3, 5)),
 (3, (3, 6)),
 (3, (4, 1)),
 (3, (4, 2)),
 (3, (4, 3)),
 (3, (4, 4)),
 (3, (4, 5)),
 (3, (4, 6)),
 (3, (5, 1)),
 (3, (5, 2)),
 (3, (5, 3)),
 (3, (5, 4)),
 (3, (5, 5)),
 (3, (5, 6)),
 (3, (6, 1)),
 (3, (6, 2)),
 (3, (6, 3)),
 (3, (6, 4)),
 (3, (6, 5)),
 (3, (6, 6)),
 (4, (1, 1)),
 (4, (1, 2)),
 (4, (1, 3)),
 (4, (1, 4)),
 (4, (1, 5)),
 (4, (1, 6)),
 (4, (2, 1)),
 (4, (2, 2)),
 (4, (2, 3)),
 (4, (2, 4)),
 (4, (2, 5)),
 (4, (2, 6)),
 (4, (3, 1)),
 (4, (3, 2)),
 (4, (3, 3)),
 (4, (3, 4)),
 (4, (3, 5)),
 (4, (3, 6)),
 (4, (4, 1)),
 (4, (4, 2)),
 (4, (4, 3)),
 (4, (4, 4)),
 (4, (4, 5)),
 (4, (4, 6)),
 (4, (5, 1)),
 (4, (5, 2)),
 (4, (5, 3)),
 (4, (5, 4)),
 (4, (5, 5)),
 (4, (5, 6)),
 (4, (6, 1)),
 (4, (6, 2)),
 (4, (6, 3)),
 (4, (6, 4)),
 (4, (6, 5)),
 (4, (6, 6)),
 (5, (1, 1)),
 (5, (1, 2)),
 (5, (1, 3)),
 (5, (1, 4)),
 (5, (1, 5)),
 (5, (1, 6)),
 (5, (2, 1)),
 (5, (2, 2)),
 (5, (2, 3)),
 (5, (2, 4)),
 (5, (2, 5)),
 (5, (2, 6)),
 (5, (3, 1)),
 (5, (3, 2)),
 (5, (3, 3)),
 (5, (3, 4)),
 (5, (3, 5)),
 (5, (3, 6)),
 (5, (4, 1)),
 (5, (4, 2)),
 (5, (4, 3)),
 (5, (4, 4)),
 (5, (4, 5)),
 (5, (4, 6)),
 (5, (5, 1)),
 (5, (5, 2)),
 (5, (5, 3)),
 (5, (5, 4)),
 (5, (5, 5)),
 (5, (5, 6)),
 (5, (6, 1)),
 (5, (6, 2)),
 (5, (6, 3)),
 (5, (6, 4)),
 (5, (6, 5)),
 (5, (6, 6)),
 (6, (1, 1)),
 (6, (1, 2)),
 (6, (1, 3)),
 (6, (1, 4)),
 (6, (1, 5)),
 (6, (1, 6)),
 (6, (2, 1)),
 (6, (2, 2)),
 (6, (2, 3)),
 (6, (2, 4)),
 (6, (2, 5)),
 (6, (2, 6)),
 (6, (3, 1)),
 (6, (3, 2)),
 (6, (3, 3)),
 (6, (3, 4)),
 (6, (3, 5)),
 (6, (3, 6)),
 (6, (4, 1)),
 (6, (4, 2)),
 (6, (4, 3)),
 (6, (4, 4)),
 (6, (4, 5)),
 (6, (4, 6)),
 (6, (5, 1)),
 (6, (5, 2)),
 (6, (5, 3)),
 (6, (5, 4)),
 (6, (5, 5)),
 (6, (5, 6)),
 (6, (6, 1)),
 (6, (6, 2)),
 (6, (6, 3)),
 (6, (6, 4)),
 (6, (6, 5)),
 (6, (6, 6))}

##  대화창 실습 : 중첩 튜플의 원소에 sum을 사용할 경우에 발생하는 오류

In [3]:
sums = [sum(tup) for tup in cases_3times]

TypeError: ignored

## p365 대화창 실습 : 주사위를 세 번 던져 얻는 모든 경우

In [5]:
def tuple_sum(tup) :           # tup내의 모든 항목의 합을 구하는 함수
    if isinstance(tup, int) :  # tup가 int 형이면 tup를 반환
        return tup
    else:
        accum = 0
        for element in tup :   # tup내의 모든 항목을 조회함
            accum += tuple_sum(element)  # 이 항목의 합을 구하기 위한 재귀적 호출
    return accum

def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}  # 이중 for 루프를 이용한 곱집합
    return res

cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
cases_3times

{(1, (1, 1)),
 (1, (1, 2)),
 (1, (1, 3)),
 (1, (1, 4)),
 (1, (1, 5)),
 (1, (1, 6)),
 (1, (2, 1)),
 (1, (2, 2)),
 (1, (2, 3)),
 (1, (2, 4)),
 (1, (2, 5)),
 (1, (2, 6)),
 (1, (3, 1)),
 (1, (3, 2)),
 (1, (3, 3)),
 (1, (3, 4)),
 (1, (3, 5)),
 (1, (3, 6)),
 (1, (4, 1)),
 (1, (4, 2)),
 (1, (4, 3)),
 (1, (4, 4)),
 (1, (4, 5)),
 (1, (4, 6)),
 (1, (5, 1)),
 (1, (5, 2)),
 (1, (5, 3)),
 (1, (5, 4)),
 (1, (5, 5)),
 (1, (5, 6)),
 (1, (6, 1)),
 (1, (6, 2)),
 (1, (6, 3)),
 (1, (6, 4)),
 (1, (6, 5)),
 (1, (6, 6)),
 (2, (1, 1)),
 (2, (1, 2)),
 (2, (1, 3)),
 (2, (1, 4)),
 (2, (1, 5)),
 (2, (1, 6)),
 (2, (2, 1)),
 (2, (2, 2)),
 (2, (2, 3)),
 (2, (2, 4)),
 (2, (2, 5)),
 (2, (2, 6)),
 (2, (3, 1)),
 (2, (3, 2)),
 (2, (3, 3)),
 (2, (3, 4)),
 (2, (3, 5)),
 (2, (3, 6)),
 (2, (4, 1)),
 (2, (4, 2)),
 (2, (4, 3)),
 (2, (4, 4)),
 (2, (4, 5)),
 (2, (4, 6)),
 (2, (5, 1)),
 (2, (5, 2)),
 (2, (5, 3)),
 (2, (5, 4)),
 (2, (5, 5)),
 (2, (5, 6)),
 (2, (6, 1)),
 (2, (6, 2)),
 (2, (6, 3)),
 (2, (6, 4)),
 (2, (6, 5)),
 (2, (6, 6)),
 (3, (1, 1)),
 (3, (1, 2)),
 (3, (1, 3)),
 (3, (1, 4)),
 (3, (1, 5)),
 (3, (1, 6)),
 (3, (2, 1)),
 (3, (2, 2)),
 (3, (2, 3)),
 (3, (2, 4)),
 (3, (2, 5)),
 (3, (2, 6)),
 (3, (3, 1)),
 (3, (3, 2)),
 (3, (3, 3)),
 (3, (3, 4)),
 (3, (3, 5)),
 (3, (3, 6)),
 (3, (4, 1)),
 (3, (4, 2)),
 (3, (4, 3)),
 (3, (4, 4)),
 (3, (4, 5)),
 (3, (4, 6)),
 (3, (5, 1)),
 (3, (5, 2)),
 (3, (5, 3)),
 (3, (5, 4)),
 (3, (5, 5)),
 (3, (5, 6)),
 (3, (6, 1)),
 (3, (6, 2)),
 (3, (6, 3)),
 (3, (6, 4)),
 (3, (6, 5)),
 (3, (6, 6)),
 (4, (1, 1)),
 (4, (1, 2)),
 (4, (1, 3)),
 (4, (1, 4)),
 (4, (1, 5)),
 (4, (1, 6)),
 (4, (2, 1)),
 (4, (2, 2)),
 (4, (2, 3)),
 (4, (2, 4)),
 (4, (2, 5)),
 (4, (2, 6)),
 (4, (3, 1)),
 (4, (3, 2)),
 (4, (3, 3)),
 (4, (3, 4)),
 (4, (3, 5)),
 (4, (3, 6)),
 (4, (4, 1)),
 (4, (4, 2)),
 (4, (4, 3)),
 (4, (4, 4)),
 (4, (4, 5)),
 (4, (4, 6)),
 (4, (5, 1)),
 (4, (5, 2)),
 (4, (5, 3)),
 (4, (5, 4)),
 (4, (5, 5)),
 (4, (5, 6)),
 (4, (6, 1)),
 (4, (6, 2)),
 (4, (6, 3)),
 (4, (6, 4)),
 (4, (6, 5)),
 (4, (6, 6)),
 (5, (1, 1)),
 (5, (1, 2)),
 (5, (1, 3)),
 (5, (1, 4)),
 (5, (1, 5)),
 (5, (1, 6)),
 (5, (2, 1)),
 (5, (2, 2)),
 (5, (2, 3)),
 (5, (2, 4)),
 (5, (2, 5)),
 (5, (2, 6)),
 (5, (3, 1)),
 (5, (3, 2)),
 (5, (3, 3)),
 (5, (3, 4)),
 (5, (3, 5)),
 (5, (3, 6)),
 (5, (4, 1)),
 (5, (4, 2)),
 (5, (4, 3)),
 (5, (4, 4)),
 (5, (4, 5)),
 (5, (4, 6)),
 (5, (5, 1)),
 (5, (5, 2)),
 (5, (5, 3)),
 (5, (5, 4)),
 (5, (5, 5)),
 (5, (5, 6)),
 (5, (6, 1)),
 (5, (6, 2)),
 (5, (6, 3)),
 (5, (6, 4)),
 (5, (6, 5)),
 (5, (6, 6)),
 (6, (1, 1)),
 (6, (1, 2)),
 (6, (1, 3)),
 (6, (1, 4)),
 (6, (1, 5)),
 (6, (1, 6)),
 (6, (2, 1)),
 (6, (2, 2)),
 (6, (2, 3)),
 (6, (2, 4)),
 (6, (2, 5)),
 (6, (2, 6)),
 (6, (3, 1)),
 (6, (3, 2)),
 (6, (3, 3)),
 (6, (3, 4)),
 (6, (3, 5)),
 (6, (3, 6)),
 (6, (4, 1)),
 (6, (4, 2)),
 (6, (4, 3)),
 (6, (4, 4)),
 (6, (4, 5)),
 (6, (4, 6)),
 (6, (5, 1)),
 (6, (5, 2)),
 (6, (5, 3)),
 (6, (5, 4)),
 (6, (5, 5)),
 (6, (5, 6)),
 (6, (6, 1)),
 (6, (6, 2)),
 (6, (6, 3)),
 (6, (6, 4)),
 (6, (6, 5)),
 (6, (6, 6))}

## 코드 6-11 : 주사위를 세 번 던져 나오는 모든 수의 합
### set_dice_triple.py

In [4]:
def tuple_sum(tup) :           # tup내의 모든 항목의 합을 구하는 함수
    if isinstance(tup, int) :  # tup가 int 형이면 tup를 반환
        return tup
    else:
        accum = 0
        for element in tup :   # tup내의 모든 항목을 조회함
            accum += tuple_sum(element)  # 이 항목의 합을 구하기 위한 재귀적 호출
    return accum

def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}  # 이중 for 루프를 이용한 곱집합
    return res

cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)

sums = [tuple_sum(tup) for tup in cases_3times]
print(sums)   # tup내의 모든 항목의 합을 리스트로 출력

[12, 5, 8, 9, 9, 10, 10, 12, 14, 10, 6, 8, 9, 6, 9, 10, 15, 10, 13, 13, 7, 13, 10, 7, 8, 12, 9, 13, 7, 14, 7, 6, 10, 8, 5, 12, 13, 9, 10, 11, 11, 9, 14, 11, 12, 12, 12, 9, 15, 15, 8, 13, 6, 17, 8, 9, 13, 16, 9, 13, 11, 18, 7, 7, 14, 11, 4, 10, 10, 11, 12, 12, 14, 12, 9, 13, 12, 13, 12, 5, 11, 8, 5, 6, 16, 14, 11, 11, 6, 13, 11, 12, 13, 8, 11, 8, 8, 9, 9, 11, 12, 13, 16, 11, 8, 7, 11, 12, 12, 7, 8, 9, 8, 12, 5, 13, 7, 16, 16, 14, 9, 12, 11, 10, 10, 10, 8, 12, 10, 13, 15, 10, 10, 9, 15, 13, 15, 10, 15, 6, 14, 14, 4, 11, 7, 17, 6, 14, 11, 8, 7, 9, 10, 8, 10, 13, 10, 6, 9, 7, 10, 15, 14, 15, 9, 7, 9, 9, 14, 13, 10, 14, 12, 9, 10, 11, 4, 5, 10, 15, 16, 6, 9, 10, 12, 13, 11, 10, 11, 9, 11, 8, 12, 12, 11, 11, 8, 11, 17, 9, 14, 11, 10, 8, 7, 8, 11, 12, 11, 13, 13, 3, 12, 14, 8, 7]

## LAB 6-12 코드 : 복수로 주사위를 던졌을 때 특정값 이상을 얻을 확률 구하기

In [0]:
def tuple_sum(tup) :           # tup내의 모든 항목의 합을 구하는 함수
    if isinstance(tup, int) :  # tup가 int 형이면 tup를 반환
        return tup
    else:
        accum = 0
        for element in tup :   # tup내의 모든 항목을 조회함
            accum += tuple_sum(element)  # 이 항목의 합을 구하기 위한 재귀적 호출
    return accum

def product_set(set1, set2) :
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}  # 이중 for 루프를 이용한 곱집합
    return res

def exp(input_set, exponent) :     # input_set에 대하여 거듭제곱을 수행하는 함수
    res = input_set                # res는 set로 초기화 함
    for _ in range(exponent - 1) :   # (exponent-1)만큼 반복해야 거듭제곱이 됨
        res = product_set(res, input_set)
    return res

## 대화창 실습 : zip() 함수에 공백 인자를 넘긴 경우

In [0]:
empty_iterator = zip()
result = set(empty_iterator)
result

set()

## 대화창 실습 : zip() 함수를 이용한 집적화

In [0]:
a = [10, 20, 30]                # 리스트 a
b = ('ten', 'twenty', 'thirty') # 튜플 b
for val in zip(a, b):           # 리스트 a와 튜플 b를 집적화하여 생성된 튜플을 출력
  print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

## 대화창 실습 : zip() 함수에 하나의 반복가능 자료형 인자를 전달한 경우

In [0]:
lst = ['a', 'b', 'hello', 'this']
my_iterator = zip(lst)
result = set(my_iterator)
result

{('a',), ('b',), ('hello',), ('this',)}

## 대화창 실습 : zip() 함수에 여러 반복가능 자료형 인자를 전달한 경우

In [0]:
str_list = [ 'hello', 'world', 'python', 'rocks']
int_tuple = (1, 2, 3)
int_list = [400, 500, 600, 700, 800]
my_iterator = zip(str_list, int_tuple, int_list)
list(my_iterator)

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

## 대화창 실습 : zip()으로 묶여진 튜플을 다시 풀어내는 방법(언패킹)

In [0]:
zip_lst = list(zip(str_list, int_tuple, int_list)) 
a, b, c = zip(*zip_lst)     # 튜플을 언패킹 함 
print(a, b, c)

('hello', 'world', 'python') (1, 2, 3) (400, 500, 600)

## 대화창 실습 : 튜플의 슬라이싱

In [0]:
tu = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [0]:
tu[1:5]    # 튜플의 슬라이싱으로 1, 2, 3, 4의 네 원소를 가져온다

(1, 2, 3, 4)

In [0]:
tu[0:10:3]

(0, 3, 6, 9)

In [0]:
tu[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

## 대화창 실습 : 문자열 슬라이싱

In [0]:
text = 'hello world'

In [0]:
text[1:5]   # 문자열 슬라이싱으로 'ello'를 가져온다

'ello'

In [0]:
text[6:]

'world'

In [0]:
text[::3]

'hlwl'

In [0]:
text[::-1]

'dlrow olleh'